<div class="rentalProps">
  <img
    class="hii"
    src={{imageUrl}}
    alt="Image of a house with dark shade"
  />
  <h3>{{headline}}</h3>
  <p>Sleeps {{numSleeps}} &#x2022 {{numBedrooms}}BR &#x2022 {{numBathrooms}}BA &#x2022 &emsp; ${{pricePerNight}}/night</p>
</div>